{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit">Sign-up</button>
    {{ form_end(form) }}
{% endblock %}
